In [1]:
import numpy as np
import pandas as pd

table = pd.read_csv('/home/sofya/Documents/UNI/ML/ml2020/project3/actor_err.csv')

In [2]:
table # first let's have a look. first thing we see is line 24 uses some other separator

,Actor,Total Gross,Number of Movies,Average per Movie,#1 Movie,Gross,Firstname,Lastname,Price
0,Harrison Ford,4871.7,41,118.8,Star Wars: The Force Awakens,936.7,Harrison,Ford,yes
1,Samuel Jackson,4772.8,69,69.2,The Avengers,623.4,Samuel,Jackson,no
2,Morgan Freeman,4468.3,61,73.3,The Dark Knight,534.9,Morgan,Freeman,Yes
3,Tom Hanks,4340.8,44,98.7,Toy Story 3,415.0,Tom,Hanks,No
4,Robert Downey,3947.3,53,74.5,The Avengers,623.4,Robert,Downey,yes
5,Eddie Murphy,3810.4,38,100.3,Shrek 2,441.2,Eddie,Murphy,no
6,Tom Cruise,3587.2,36,99.6,War of the Worlds,234.3,Tom,Cruise,yes
7,Johnny Depp,3368.6,45,74.9,Dead Man's Chest,423.3,Johnny,Depp,No
8,Michael Caine,3351.5,58,57.8,The Dark Knight,534.9,Michael,Caine,NO
9,Scarlett Johansson,3341.2,37,90.3,The Avengers,623.4,Scarlett,Johansson,n0
10,Gary Oldman,3294.0,38,86.7,The Dark Knight,534.9,Gary,Oldman,No
11,Robin Williams,3279.3,49,66.9,Night at the Museum,250.9,Robin,Williams,no
12,Bruce Willis,3189.4,60,53.2,Sixth Sense,293.5,Bruce,Willis,no
13,Stellan Skarsgard,3175.0,43,73.8,The Avengers,623.4,Stellan,Skarsgard,yes
14,Anthony Daniels,3162.9,7,451.8,Star Wars: The Force Awakens,936.7,Anthony,Daniels,no
15,Ian McKellen,3150.4,31,101.6,Return of the King,377.8,Ian,McKellen,No
16,Will Smith,3149.1,24,131.2,Independence Day,306.2,Will,Smith,no
17,Stanley Tucci,3123.9,50,62.5,Catching Fire,424.7,Stanley,Tucci,yes
18,Matt Damon,'3107.3','39','79.7',The Martian,'228.4',Matt,Damon,no
19,Robert DeNiro,3081.3,79,39.0,Meet the Fockers,279.3,Robert,DeNiro,No
20,Cameron Diaz,3031.7,34,89.2,Shrek 2,441.2,Cameron,Diaz,No
21,Liam Neeson,2942.7,63,46.7,The Phantom Menace,-474.5,Liam,Neeson,No
22,Andy Serkis,2890.6,23,125.7,Star Wars: The Force Awakens,936.7,Andy,Serkis,Yes
23,Don Cheadle,2885.4,34,84.9,Avengers: Age of Ultron,459.0,Don,Cheadle,YEs
24,Ben Stiller:2827.0:37:76.4:Meet the Fockers:27...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Helena Carter,2822.0,36,78.4,Harry Potter / Deathly Hallows (P2),381.0,Helena,Carter,No
26,Orlando Bloom,2815.8,17,165.6,Dead Man's Chest,423.3,Orlando,Bloom,yes
27,Woody Harrelson,2815.8,50,56.3,Catching Fire,424.7,Woody,Harrelson,yes
28,Cate Blanchett,2802.6,39,71.9,Return of the King,377.8,Cate,Blanchett,yEs
29,Julia Roberts,2735.3,42,65.1,Ocean's Eleven,183.4,Julia,Roberts,Yes
30,Elizabeth Banks,2726.3,35,77.9,Catching Fire,424.7,Elizabeth,Banks,No
31,Ralph Fiennes,2715.3,36,75.4,Harry Potter / Deathly Hallows (P2),381.0,Ralph,Fiennes,no
32,Emma Watson,2681.9,17,157.8,Harry Potter / Deathly Hallows (P2),381.0,WatsonEmma,No,NaN
33,Tommy Jones,2681.3,46,58.3,Men in Black,250.7,Tommy,Jones,yes
34,Brad Pitt,2680.9,40,67.0,World War Z,202.4,Brad,Pitt,No
35,Adam Sandler,2661.0,32,83.2,Hotel Transylvania 2,169.7,Adam,Sandler,no
36,Daniel Radcliffe,2634.4,17,155.0,Harry Potter / Deathly Hallows (P2),381.0,Daniel,Radcliffe,No
37,Jonah Hill,2605.1,29,89.8,The LEGO Movie,257.8,Jonah,Hill,No
38,Owen Wilson,2602.3,39,66.7,Night at the Museum,250.9,Owen,WILSON,yes
39,Idris Elba,2580.6,26,99.3,Avengers: Age of Ultron,459.0,Idris,Elba,yes
40,Bradley Cooper,2557.7,25,102.3,American Sniper,350.1,Bradley,Cooper,yes
41,Mark Wahlberg,2549.8,36,70.8,Transformers 4,245.4,Mark,Wahlberg,Yes
42,Jim Carrey,2545.2,27,94.3,The Grinch,260.0,Jim,Carrey,Noo
43,Dustin Hoffman,2522.1,43,58.7,Meet the Fockers,279.3,Dustin,Hoffman,No
44,Leonardo DiCaprio,2518.3,25,100.7,Titanic,658.7,Leonardo,NaN,yes
45,Jeremy Renner,2500.3,21,119.1,The Avengers,623.4,Jeremy,Renner,yes
46,Philip Hoffman,2463.7,40,61.6,Catching Fire,424.7,Philip,Hoffman,yes
47,Sandra Bullock,2462.6,35,70.4,Minions,336.0,Sandra,Bullock,no
48,Chris Evans,2457.8,23,106.9,The Avengers,623.4,Chris,Evans,yes
49,Anne Hathaway,2416.5,25,96.7,The Dark Knight Rises,448.1,Anne,Hathaway,No

In [3]:
table.at[24] = table.loc[24].Actor.split(':')

In [4]:
table # we also see that there are two similar columns actor and Firstname + Lastname. We see some of lastnames are missing. maybe we can compare them to the actor names, if noone uses psedonim left out the 'actor' column

,Actor,Total Gross,Number of Movies,Average per Movie,#1 Movie,Gross,Firstname,Lastname,Price
0,Harrison Ford,4871.7,41,118.8,Star Wars: The Force Awakens,936.7,Harrison,Ford,yes
1,Samuel Jackson,4772.8,69,69.2,The Avengers,623.4,Samuel,Jackson,no
2,Morgan Freeman,4468.3,61,73.3,The Dark Knight,534.9,Morgan,Freeman,Yes
3,Tom Hanks,4340.8,44,98.7,Toy Story 3,415.0,Tom,Hanks,No
4,Robert Downey,3947.3,53,74.5,The Avengers,623.4,Robert,Downey,yes
5,Eddie Murphy,3810.4,38,100.3,Shrek 2,441.2,Eddie,Murphy,no
6,Tom Cruise,3587.2,36,99.6,War of the Worlds,234.3,Tom,Cruise,yes
7,Johnny Depp,3368.6,45,74.9,Dead Man's Chest,423.3,Johnny,Depp,No
8,Michael Caine,3351.5,58,57.8,The Dark Knight,534.9,Michael,Caine,NO
9,Scarlett Johansson,3341.2,37,90.3,The Avengers,623.4,Scarlett,Johansson,n0
10,Gary Oldman,3294.0,38,86.7,The Dark Knight,534.9,Gary,Oldman,No
11,Robin Williams,3279.3,49,66.9,Night at the Museum,250.9,Robin,Williams,no
12,Bruce Willis,3189.4,60,53.2,Sixth Sense,293.5,Bruce,Willis,no
13,Stellan Skarsgard,3175.0,43,73.8,The Avengers,623.4,Stellan,Skarsgard,yes
14,Anthony Daniels,3162.9,7,451.8,Star Wars: The Force Awakens,936.7,Anthony,Daniels,no
15,Ian McKellen,3150.4,31,101.6,Return of the King,377.8,Ian,McKellen,No
16,Will Smith,3149.1,24,131.2,Independence Day,306.2,Will,Smith,no
17,Stanley Tucci,3123.9,50,62.5,Catching Fire,424.7,Stanley,Tucci,yes
18,Matt Damon,'3107.3','39','79.7',The Martian,'228.4',Matt,Damon,no
19,Robert DeNiro,3081.3,79,39.0,Meet the Fockers,279.3,Robert,DeNiro,No
20,Cameron Diaz,3031.7,34,89.2,Shrek 2,441.2,Cameron,Diaz,No
21,Liam Neeson,2942.7,63,46.7,The Phantom Menace,-474.5,Liam,Neeson,No
22,Andy Serkis,2890.6,23,125.7,Star Wars: The Force Awakens,936.7,Andy,Serkis,Yes
23,Don Cheadle,2885.4,34,84.9,Avengers: Age of Ultron,459.0,Don,Cheadle,YEs
24,Ben Stiller,2827.0,37,76.4,Meet the Fockers,279.3,Ben,Stiller,Yes
25,Helena Carter,2822.0,36,78.4,Harry Potter / Deathly Hallows (P2),381.0,Helena,Carter,No
26,Orlando Bloom,2815.8,17,165.6,Dead Man's Chest,423.3,Orlando,Bloom,yes
27,Woody Harrelson,2815.8,50,56.3,Catching Fire,424.7,Woody,Harrelson,yes
28,Cate Blanchett,2802.6,39,71.9,Return of the King,377.8,Cate,Blanchett,yEs
29,Julia Roberts,2735.3,42,65.1,Ocean's Eleven,183.4,Julia,Roberts,Yes
30,Elizabeth Banks,2726.3,35,77.9,Catching Fire,424.7,Elizabeth,Banks,No
31,Ralph Fiennes,2715.3,36,75.4,Harry Potter / Deathly Hallows (P2),381.0,Ralph,Fiennes,no
32,Emma Watson,2681.9,17,157.8,Harry Potter / Deathly Hallows (P2),381.0,WatsonEmma,No,NaN
33,Tommy Jones,2681.3,46,58.3,Men in Black,250.7,Tommy,Jones,yes
34,Brad Pitt,2680.9,40,67.0,World War Z,202.4,Brad,Pitt,No
35,Adam Sandler,2661.0,32,83.2,Hotel Transylvania 2,169.7,Adam,Sandler,no
36,Daniel Radcliffe,2634.4,17,155.0,Harry Potter / Deathly Hallows (P2),381.0,Daniel,Radcliffe,No
37,Jonah Hill,2605.1,29,89.8,The LEGO Movie,257.8,Jonah,Hill,No
38,Owen Wilson,2602.3,39,66.7,Night at the Museum,250.9,Owen,WILSON,yes
39,Idris Elba,2580.6,26,99.3,Avengers: Age of Ultron,459.0,Idris,Elba,yes
40,Bradley Cooper,2557.7,25,102.3,American Sniper,350.1,Bradley,Cooper,yes
41,Mark Wahlberg,2549.8,36,70.8,Transformers 4,245.4,Mark,Wahlberg,Yes
42,Jim Carrey,2545.2,27,94.3,The Grinch,260.0,Jim,Carrey,Noo
43,Dustin Hoffman,2522.1,43,58.7,Meet the Fockers,279.3,Dustin,Hoffman,No
44,Leonardo DiCaprio,2518.3,25,100.7,Titanic,658.7,Leonardo,NaN,yes
45,Jeremy Renner,2500.3,21,119.1,The Avengers,623.4,Jeremy,Renner,yes
46,Philip Hoffman,2463.7,40,61.6,Catching Fire,424.7,Philip,Hoffman,yes
47,Sandra Bullock,2462.6,35,70.4,Minions,336.0,Sandra,Bullock,no
48,Chris Evans,2457.8,23,106.9,The Avengers,623.4,Chris,Evans,yes
49,Anne Hathaway,2416.5,25,96.7,The Dark Knight Rises,448.1,Anne,Hathaway,No

In [5]:
table[table.Actor != table.Firstname+ ' '+ table.Lastname] # so wee see there are no pseudonames, just misspellings or caps; correct that
names_index = table[table.Actor != table.Firstname+ ' '+ table.Lastname].index

In [6]:
table.loc[names_index]

,Actor,Total Gross,Number of Movies,Average per Movie,#1 Movie,Gross,Firstname,Lastname,Price
32,Emma Watson,2681.9,17,157.8,Harry Potter / Deathly Hallows (P2),381.0,WatsonEmma,No,NaN
38,Owen Wilson,2602.3,39,66.7,Night at the Museum,250.9,Owen,WILSON,yes
44,Leonardo DiCaprio,2518.3,25,100.7,Titanic,658.7,Leonardo,NaN,yes

In [7]:
table.at[names_index, ['Firstname']] = table.loc[names_index].Actor.str.split(' ').str[0]
table.at[names_index, ['Lastname']] = table.loc[names_index].Actor.str.split(' ').str[1]

In [116]:
table

,Actor,Total Gross,Number of Movies,Average per Movie,#1 Movie,Gross,Firstname,Lastname,Price
0,Harrison Ford,4871.7,41,118.8,Star Wars: The Force Awakens,936.7,Harrison,Ford,yes
1,Samuel Jackson,4772.8,69,69.2,The Avengers,623.4,Samuel,Jackson,no
2,Morgan Freeman,4468.3,61,73.3,The Dark Knight,534.9,Morgan,Freeman,Yes
3,Tom Hanks,4340.8,44,98.7,Toy Story 3,415.0,Tom,Hanks,No
4,Robert Downey,3947.3,53,74.5,The Avengers,623.4,Robert,Downey,yes
5,Eddie Murphy,3810.4,38,100.3,Shrek 2,441.2,Eddie,Murphy,no
6,Tom Cruise,3587.2,36,99.6,War of the Worlds,234.3,Tom,Cruise,yes
7,Johnny Depp,3368.6,45,74.9,Dead Man's Chest,423.3,Johnny,Depp,No
8,Michael Caine,3351.5,58,57.8,The Dark Knight,534.9,Michael,Caine,NO
9,Scarlett Johansson,3341.2,37,90.3,The Avengers,623.4,Scarlett,Johansson,n0
10,Gary Oldman,3294.0,38,86.7,The Dark Knight,534.9,Gary,Oldman,No
11,Robin Williams,3279.3,49,66.9,Night at the Museum,250.9,Robin,Williams,no
12,Bruce Willis,3189.4,60,53.2,Sixth Sense,293.5,Bruce,Willis,no
13,Stellan Skarsgard,3175.0,43,73.8,The Avengers,623.4,Stellan,Skarsgard,yes
14,Anthony Daniels,3162.9,7,451.8,Star Wars: The Force Awakens,936.7,Anthony,Daniels,no
15,Ian McKellen,3150.4,31,101.6,Return of the King,377.8,Ian,McKellen,No
16,Will Smith,3149.1,24,131.2,Independence Day,306.2,Will,Smith,no
17,Stanley Tucci,3123.9,50,62.5,Catching Fire,424.7,Stanley,Tucci,yes
18,Matt Damon,'3107.3','39','79.7',The Martian,'228.4',Matt,Damon,no
19,Robert DeNiro,3081.3,79,39.0,Meet the Fockers,279.3,Robert,DeNiro,No
20,Cameron Diaz,3031.7,34,89.2,Shrek 2,441.2,Cameron,Diaz,No
21,Liam Neeson,2942.7,63,46.7,The Phantom Menace,-474.5,Liam,Neeson,No
22,Andy Serkis,2890.6,23,125.7,Star Wars: The Force Awakens,936.7,Andy,Serkis,Yes
23,Don Cheadle,2885.4,34,84.9,Avengers: Age of Ultron,459.0,Don,Cheadle,YEs
24,Ben Stiller,2827.0,37,76.4,Meet the Fockers,279.3,Ben,Stiller,Yes
25,Helena Carter,2822.0,36,78.4,Harry Potter / Deathly Hallows (P2),381.0,Helena,Carter,No
26,Orlando Bloom,2815.8,17,165.6,Dead Man's Chest,423.3,Orlando,Bloom,yes
27,Woody Harrelson,2815.8,50,56.3,Catching Fire,424.7,Woody,Harrelson,yes
28,Cate Blanchett,2802.6,39,71.9,Return of the King,377.8,Cate,Blanchett,yEs
29,Julia Roberts,2735.3,42,65.1,Ocean's Eleven,183.4,Julia,Roberts,Yes
30,Elizabeth Banks,2726.3,35,77.9,Catching Fire,424.7,Elizabeth,Banks,No
31,Ralph Fiennes,2715.3,36,75.4,Harry Potter / Deathly Hallows (P2),381.0,Ralph,Fiennes,no
32,Emma Watson,2681.9,17,157.8,Harry Potter / Deathly Hallows (P2),381.0,Emma,Watson,NaN
33,Tommy Jones,2681.3,46,58.3,Men in Black,250.7,Tommy,Jones,yes
34,Brad Pitt,2680.9,40,67.0,World War Z,202.4,Brad,Pitt,No
35,Adam Sandler,2661.0,32,83.2,Hotel Transylvania 2,169.7,Adam,Sandler,no
36,Daniel Radcliffe,2634.4,17,155.0,Harry Potter / Deathly Hallows (P2),381.0,Daniel,Radcliffe,No
37,Jonah Hill,2605.1,29,89.8,The LEGO Movie,257.8,Jonah,Hill,No
38,Owen Wilson,2602.3,39,66.7,Night at the Museum,250.9,Owen,Wilson,yes
39,Idris Elba,2580.6,26,99.3,Avengers: Age of Ultron,459.0,Idris,Elba,yes
40,Bradley Cooper,2557.7,25,102.3,American Sniper,350.1,Bradley,Cooper,yes
41,Mark Wahlberg,2549.8,36,70.8,Transformers 4,245.4,Mark,Wahlberg,Yes
42,Jim Carrey,2545.2,27,94.3,The Grinch,260.0,Jim,Carrey,Noo
43,Dustin Hoffman,2522.1,43,58.7,Meet the Fockers,279.3,Dustin,Hoffman,No
44,Leonardo DiCaprio,2518.3,25,100.7,Titanic,658.7,Leonardo,DiCaprio,yes
45,Jeremy Renner,2500.3,21,119.1,The Avengers,623.4,Jeremy,Renner,yes
46,Philip Hoffman,2463.7,40,61.6,Catching Fire,424.7,Philip,Hoffman,yes
47,Sandra Bullock,2462.6,35,70.4,Minions,336.0,Sandra,Bullock,no
48,Chris Evans,2457.8,23,106.9,The Avengers,623.4,Chris,Evans,yes
49,Anne Hathaway,2416.5,25,96.7,The Dark Knight Rises,448.1,Anne,Hathaway,No

In [8]:
# we also see that in raw 18 values are enclaused, correct that
table.columns

Index(['Actor', 'Total Gross', 'Number of Movies', 'Average per Movie',
       '#1 Movie', 'Gross', 'Firstname', 'Lastname', 'Price'],
      dtype='object')

In [9]:
table.at[18] = table.loc[18].str.replace("'", '')

In [10]:
#Price column has some different notations and nan, since it binary variable we change it for true and false
table['Price'] = ['no' if pd.isnull(i) or i[-1]!= 's' else('yes') for i in table.Price]

In [11]:
# finally resort column to start wit name and surname, remove column actor since it's redundant and check for dups
table = table[['Firstname','Lastname', 'Total Gross', 'Number of Movies', 'Average per Movie','#1 Movie', 'Gross', 'Price']]
set(table.duplicated().to_list()) # no duplications
table # I can't say what gross is

,Firstname,Lastname,Total Gross,Number of Movies,Average per Movie,#1 Movie,Gross,Price
0,Harrison,Ford,4871.7,41,118.8,Star Wars: The Force Awakens,936.7,yes
1,Samuel,Jackson,4772.8,69,69.2,The Avengers,623.4,no
2,Morgan,Freeman,4468.3,61,73.3,The Dark Knight,534.9,yes
3,Tom,Hanks,4340.8,44,98.7,Toy Story 3,415.0,no
4,Robert,Downey,3947.3,53,74.5,The Avengers,623.4,yes
5,Eddie,Murphy,3810.4,38,100.3,Shrek 2,441.2,no
6,Tom,Cruise,3587.2,36,99.6,War of the Worlds,234.3,yes
7,Johnny,Depp,3368.6,45,74.9,Dead Man's Chest,423.3,no
8,Michael,Caine,3351.5,58,57.8,The Dark Knight,534.9,no
9,Scarlett,Johansson,3341.2,37,90.3,The Avengers,623.4,no
10,Gary,Oldman,3294.0,38,86.7,The Dark Knight,534.9,no
11,Robin,Williams,3279.3,49,66.9,Night at the Museum,250.9,no
12,Bruce,Willis,3189.4,60,53.2,Sixth Sense,293.5,no
13,Stellan,Skarsgard,3175.0,43,73.8,The Avengers,623.4,yes
14,Anthony,Daniels,3162.9,7,451.8,Star Wars: The Force Awakens,936.7,no
15,Ian,McKellen,3150.4,31,101.6,Return of the King,377.8,no
16,Will,Smith,3149.1,24,131.2,Independence Day,306.2,no
17,Stanley,Tucci,3123.9,50,62.5,Catching Fire,424.7,yes
18,Matt,Damon,3107.3,39,79.7,The Martian,228.4,no
19,Robert,DeNiro,3081.3,79,39.0,Meet the Fockers,279.3,no
20,Cameron,Diaz,3031.7,34,89.2,Shrek 2,441.2,no
21,Liam,Neeson,2942.7,63,46.7,The Phantom Menace,-474.5,no
22,Andy,Serkis,2890.6,23,125.7,Star Wars: The Force Awakens,936.7,yes
23,Don,Cheadle,2885.4,34,84.9,Avengers: Age of Ultron,459.0,yes
24,Ben,Stiller,2827.0,37,76.4,Meet the Fockers,279.3,yes
25,Helena,Carter,2822.0,36,78.4,Harry Potter / Deathly Hallows (P2),381.0,no
26,Orlando,Bloom,2815.8,17,165.6,Dead Man's Chest,423.3,yes
27,Woody,Harrelson,2815.8,50,56.3,Catching Fire,424.7,yes
28,Cate,Blanchett,2802.6,39,71.9,Return of the King,377.8,yes
29,Julia,Roberts,2735.3,42,65.1,Ocean's Eleven,183.4,yes
30,Elizabeth,Banks,2726.3,35,77.9,Catching Fire,424.7,no
31,Ralph,Fiennes,2715.3,36,75.4,Harry Potter / Deathly Hallows (P2),381.0,no
32,Emma,Watson,2681.9,17,157.8,Harry Potter / Deathly Hallows (P2),381.0,no
33,Tommy,Jones,2681.3,46,58.3,Men in Black,250.7,yes
34,Brad,Pitt,2680.9,40,67.0,World War Z,202.4,no
35,Adam,Sandler,2661.0,32,83.2,Hotel Transylvania 2,169.7,no
36,Daniel,Radcliffe,2634.4,17,155.0,Harry Potter / Deathly Hallows (P2),381.0,no
37,Jonah,Hill,2605.1,29,89.8,The LEGO Movie,257.8,no
38,Owen,Wilson,2602.3,39,66.7,Night at the Museum,250.9,yes
39,Idris,Elba,2580.6,26,99.3,Avengers: Age of Ultron,459.0,yes
40,Bradley,Cooper,2557.7,25,102.3,American Sniper,350.1,yes
41,Mark,Wahlberg,2549.8,36,70.8,Transformers 4,245.4,yes
42,Jim,Carrey,2545.2,27,94.3,The Grinch,260.0,no
43,Dustin,Hoffman,2522.1,43,58.7,Meet the Fockers,279.3,no
44,Leonardo,DiCaprio,2518.3,25,100.7,Titanic,658.7,yes
45,Jeremy,Renner,2500.3,21,119.1,The Avengers,623.4,yes
46,Philip,Hoffman,2463.7,40,61.6,Catching Fire,424.7,yes
47,Sandra,Bullock,2462.6,35,70.4,Minions,336.0,no
48,Chris,Evans,2457.8,23,106.9,The Avengers,623.4,yes
49,Anne,Hathaway,2416.5,25,96.7,The Dark Knight Rises,448.1,no

In [11]:
table.dtypes

Actor                object
Total Gross          object
Number of Movies     object
Average per Movie    object
#1 Movie             object
Gross                object
Firstname            object
Lastname             object
Price                object
dtype: object

In [12]:
table['Total Gross'] = table['Total Gross'].astype('float')
table['Number of Movies'] = table['Number of Movies'].astype('float')
table['Average per Movie'] = table['Average per Movie'].astype('float')
table['Gross'] = table['Gross'].astype('float')

In [13]:
table.sum()# from the available hint I understand that the Gross is always positiv and price nan equals no

Actor                Harrison FordSamuel JacksonMorgan FreemanTom H...
Total Gross                                                     151704
Number of Movies                                                  1894
Average per Movie                                               4675.9
#1 Movie             Star Wars: The Force AwakensThe AvengersThe Da...
Gross                                                          20485.5
Firstname            HarrisonSamuelMorganTomRobertEddieTomJohnnyMic...
Lastname             FordJacksonFreemanHanksDowneyMurphyCruiseDeppC...
Price                yesnoyesnoyesnoyesnonononononoyesnononoyesnono...
dtype: object

In [14]:
table['Gross'] = abs(table['Gross'])

In [16]:
table

,Firstname,Lastname,Total Gross,Number of Movies,Average per Movie,#1 Movie,Gross,Price
0,Harrison,Ford,4871.7,41.0,118.8,Star Wars: The Force Awakens,936.7,False
1,Samuel,Jackson,4772.8,69.0,69.2,The Avengers,623.4,False
2,Morgan,Freeman,4468.3,61.0,73.3,The Dark Knight,534.9,False
3,Tom,Hanks,4340.8,44.0,98.7,Toy Story 3,415.0,False
4,Robert,Downey,3947.3,53.0,74.5,The Avengers,623.4,False
5,Eddie,Murphy,3810.4,38.0,100.3,Shrek 2,441.2,False
6,Tom,Cruise,3587.2,36.0,99.6,War of the Worlds,234.3,False
7,Johnny,Depp,3368.6,45.0,74.9,Dead Man's Chest,423.3,False
8,Michael,Caine,3351.5,58.0,57.8,The Dark Knight,534.9,False
9,Scarlett,Johansson,3341.2,37.0,90.3,The Avengers,623.4,False
10,Gary,Oldman,3294.0,38.0,86.7,The Dark Knight,534.9,False
11,Robin,Williams,3279.3,49.0,66.9,Night at the Museum,250.9,False
12,Bruce,Willis,3189.4,60.0,53.2,Sixth Sense,293.5,False
13,Stellan,Skarsgard,3175.0,43.0,73.8,The Avengers,623.4,False
14,Anthony,Daniels,3162.9,7.0,451.8,Star Wars: The Force Awakens,936.7,False
15,Ian,McKellen,3150.4,31.0,101.6,Return of the King,377.8,False
16,Will,Smith,3149.1,24.0,131.2,Independence Day,306.2,False
17,Stanley,Tucci,3123.9,50.0,62.5,Catching Fire,424.7,False
18,Matt,Damon,3107.3,39.0,79.7,The Martian,228.4,False
19,Robert,DeNiro,3081.3,79.0,39.0,Meet the Fockers,279.3,False
20,Cameron,Diaz,3031.7,34.0,89.2,Shrek 2,441.2,False
21,Liam,Neeson,2942.7,63.0,46.7,The Phantom Menace,474.5,False
22,Andy,Serkis,2890.6,23.0,125.7,Star Wars: The Force Awakens,936.7,False
23,Don,Cheadle,2885.4,34.0,84.9,Avengers: Age of Ultron,459.0,False
24,Ben,Stiller,2827.0,37.0,76.4,Meet the Fockers,279.3,False
25,Helena,Carter,2822.0,36.0,78.4,Harry Potter / Deathly Hallows (P2),381.0,False
26,Orlando,Bloom,2815.8,17.0,165.6,Dead Man's Chest,423.3,False
27,Woody,Harrelson,2815.8,50.0,56.3,Catching Fire,424.7,False
28,Cate,Blanchett,2802.6,39.0,71.9,Return of the King,377.8,False
29,Julia,Roberts,2735.3,42.0,65.1,Ocean's Eleven,183.4,False
30,Elizabeth,Banks,2726.3,35.0,77.9,Catching Fire,424.7,False
31,Ralph,Fiennes,2715.3,36.0,75.4,Harry Potter / Deathly Hallows (P2),381.0,False
32,Emma,Watson,2681.9,17.0,157.8,Harry Potter / Deathly Hallows (P2),381.0,False
33,Tommy,Jones,2681.3,46.0,58.3,Men in Black,250.7,False
34,Brad,Pitt,2680.9,40.0,67.0,World War Z,202.4,False
35,Adam,Sandler,2661.0,32.0,83.2,Hotel Transylvania 2,169.7,False
36,Daniel,Radcliffe,2634.4,17.0,155.0,Harry Potter / Deathly Hallows (P2),381.0,False
37,Jonah,Hill,2605.1,29.0,89.8,The LEGO Movie,257.8,False
38,Owen,Wilson,2602.3,39.0,66.7,Night at the Museum,250.9,False
39,Idris,Elba,2580.6,26.0,99.3,Avengers: Age of Ultron,459.0,False
40,Bradley,Cooper,2557.7,25.0,102.3,American Sniper,350.1,False
41,Mark,Wahlberg,2549.8,36.0,70.8,Transformers 4,245.4,False
42,Jim,Carrey,2545.2,27.0,94.3,The Grinch,260.0,False
43,Dustin,Hoffman,2522.1,43.0,58.7,Meet the Fockers,279.3,False
44,Leonardo,DiCaprio,2518.3,25.0,100.7,Titanic,658.7,False
45,Jeremy,Renner,2500.3,21.0,119.1,The Avengers,623.4,False
46,Philip,Hoffman,2463.7,40.0,61.6,Catching Fire,424.7,False
47,Sandra,Bullock,2462.6,35.0,70.4,Minions,336.0,False
48,Chris,Evans,2457.8,23.0,106.9,The Avengers,623.4,False
49,Anne,Hathaway,2416.5,25.0,96.7,The Dark Knight Rises,448.1,False

In [15]:
print(table.sum())
table.Price.value_counts()

Actor                Harrison FordSamuel JacksonMorgan FreemanTom H...
Total Gross                                                     151704
Number of Movies                                                  1894
Average per Movie                                               4675.9
#1 Movie             Star Wars: The Force AwakensThe AvengersThe Da...
Gross                                                          21434.5
Firstname            HarrisonSamuelMorganTomRobertEddieTomJohnnyMic...
Lastname             FordJacksonFreemanHanksDowneyMurphyCruiseDeppC...
Price                yesnoyesnoyesnoyesnonononononoyesnononoyesnono...
dtype: object

no     28
yes    22
Name: Price, dtype: int64